<h1>Tone Analysis Result</h1>

<ul>
    <% for (var counter = 0; counter < 5; counter++){ %>
        <li>Tone: <%=  results["document_tone"]["tone_categories"][0]["tones"][counter]["tone_name"] %></li>
        <p>Score: <%= results["document_tone"]["tone_categories"][0]["tones"][counter]["score"] %></p>
    <% } %>
</ul>


<a href="/">Looking for another keyword?</a>
