<h1>Search tweets</h1>

<p>Please type in the keyword you want to look for</p>
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="keyword"><br>
    <input type="submit">
</form>